.conference__choise {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  margin-top: 25px;
}
.conference__container {
  max-height: 200px;
  overflow: scroll;
  background-color: #65abc2;
  border-radius: 6px;
  border: 3px solid #65abc2;
  padding: 2px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
.conference__image {
  margin-left: 35px;
}
.conference__news {
  font-size: 19px;
  color: #ababab;
  font-weight: bold;
}
.conference__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.conference__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conference__title {
  background-color: #ababab;
  border: 3px solid #fff;
  border-radius: 6px;
  color: white;
  padding: 12px;
}
.conference__link {
  text-decoration: none;
  margin-bottom: 12px;
}
.conference__choise {
  /* border: 3px solid #c25542; */
  border-radius: 6px;
  color: #ababab;
  font-size: 16px;
  font-weight: 600px;
  padding: 3px;
  margin: auto;
  width: 50%;
  overflow: auto;
  max-height: 300px;
}
@media screen and (max-width: 800px) {
  .conference__choise {
    /* border: 3px solid #c25542; */
    border-radius: 6px;
    color: #ababab;
    font-size: 14px;
    font-weight: 600px;
    padding: 3px;
    margin: auto;
    width: 90%;
    overflow: auto;
    max-height: 300px;
  }
}
.titleChoise {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  margin-top: 25px;
}
@media screen and (max-width: 800px) {
  .titleChoise {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    margin-top: 25px;
  }
}
