.audio__player {
  --primary: rgb(10, 202, 97);
  --secondary: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 700px; */
  /* background-color: black; */
  width: 600px;
  margin: 20px auto;
  padding: 12px;
}
@media screen and (width: 800px) {
  .audio__player {
    width: 100px;
    margin: auto;
  }
}
.audio__allcourt {
  display: flex;
  align-items: center;
}
.sound__title {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.sound {
  display: flex;
  margin-top: 12px;
  background-color: rgb(131, 208, 231);
  padding: 12px;
  align-items: center;
  flex-direction: column;
}
.forward__back__ward {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.forward__back__ward:hover {
  color: var(--primary);
}
.play__pause {
  /* background-color: var(--primary); */
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 17px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.current__time,
.duration {
  font-family: monospace;
  font-size: 16px;
  color: white;
}
.current__time {
  margin-left: 25px;
}
.duration {
  margin-left: 5px;
}
.progress__bar {
  --bar-bg: rgb(179, 179, 204);
  --seek-before-width: 100px;
  --seek-before-color: blue;
  --knobby: green;
  --selectedknobby: rgb(124, 238, 124);
  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar  safari*/

.progress__bar::webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 0;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar firefox */

.progress__bar::moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
.progress__bar::-moz-focus-outer {
  border: 0px;
}
/* progress__bar chrome and safari */

.progress__bar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
/* progress__bar firefox */

.progress__bar::-moz-ranger-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby chrome and safari */

.progress__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progress__bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedknobby);
}

.progress__bar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.progress__bar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selecte);
}
