.containerSlider {
  width: 990px;
  margin: auto;
}

.containerSlider img {
  height: 500px;
  width: 1000px;
}
.w-100 {
  width: 100% !important;
  height: 75vh;
}
@media screen and (max-width: 800px) {
  .w-100 {
    width: 100% !important;
    height: 40vh;
  }
}
.courtChoise {
  border: 3px solid #c25542;
  border-radius: 6px;
  color: #ababab;
  font-size: 16;
  font-weight: 600;
  padding: 12;
  margin: auto;
  width: 50%;
  overflow: auto;
  max-height: 300px;
}
@media screen and (max-width: 800px) {
  .courtChoise {
    border: 3px solid #c25542;
    border-radius: 6px;
    color: #ababab;
    font-size: 14;
    font-weight: 600;
    padding: 12;
    margin: auto;
    width: 90%;
    overflow: auto;
    max-height: 300px;
  }
}
.titleChoise {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  margin-top: 25px;
}
@media screen and (max-width: 800px) {
  .titleChoise {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    margin-top: 25px;
  }
}
.footer {
  background-color: rgb(132, 184, 86);
  margin-top: 32px;
  padding: 35px;
}
.footerInformation {
  display: flex;
  justify-content: space-between;
}
.quisommesnous {
  width: 290px;
}
.linkImage {
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  .footerInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail {
    margin-right: 16px;
  }
  .quisommesnous {
    width: 194px;
    margin-left: 75px;
  }
  .titleQuisommenous {
    margin-left: 59px;
  }
  .linkImage {
    margin-top: 12px;
    margin-left: 52px;
  }
}
.link {
  text-decoration: none;
  color: black;
}
