.home__dashboard {
  flex: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5;
  /* width: 100%; */
}
.home__item {
  flex: 1;
  margin: 10px 20px;
  padding: 30px;
  border-radius: 12px;
  -webkit-box-shadow: -139px -110px 301px 9px rgba(0, 0, 0, 0.37) inset;
  height: 250px;
  align-items: center;
  text-decoration: none;
  display: flex;
}
.home__title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-right: 12px;
}
